.ProgressBar {
  width: 100%;
  height: 20px;
  background-color: black;
  /* b5e4d9 */
  border-radius: 5px;
}

.Progress {
  background-color: #63c9e8;
  height: 100%;
  margin: 0;
  border-radius: 5px;
}